<footer class="m-4">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 Majunga Mahajanga Vacances </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <p class="me-4 md:me-6">Tel: 0341 551 268</p>
        </li>
        <li>
            <a href="https://www.facebook.com/moura.shop.2023" class="hover:underline me-4 md:me-6">Facebook</a>
        </li>
    </ul>
    </div>
</footer>